
main .header {
  display: flex;
  background-color: #010409;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100cap;
  height: 3.75rem;
  color: #ffffff;
  padding-left: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-right: 2rem;
  border-bottom: 1px solid rgb(139, 138, 138);
}

.header__start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.header__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(139, 138, 138);
}

.header__item:hover {
  color: white;
  transition-duration: 300ms; 
  cursor: pointer;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-weight: 700;
}

.header__corner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100cap;
  column-gap: 0.5rem;
}

.login {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  border: 0 solid;
  width: 4rem;
  font-size: 1rem;
}

.logout {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  border: 0 solid;
  width: 5rem;
  font-size: 1rem;
}
