main .header {
  display: flex;
  background-color: #0b111f;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100cap;
  height: 3.75rem;
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid rgb(139, 138, 138);
}

.logo {
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header__corner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100cap;
  column-gap: 0.5rem;
}

.search {
  display: flex;
  flex-direction: row;
  color: black;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #0b111f;
}

.search__input {
  width: 100cap;
  color: white;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(139, 138, 138);
  background-color: inherit;
}

.login {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  border: 0 solid;
  width: 4rem;
  font-size: 1rem;
}
